<button *ngIf="index != 0" mat-fab (click)="buttonClicked()" style="z-index:9999;position: fixed;bottom: 30px;right: 30px;border-radius: 0px;color: black;background-color: white;">
  <mat-icon>add</mat-icon>
</button>

<mat-tab-group [(selectedIndex)]="index">
  <mat-tab label="BILLING">
    <app-billing></app-billing>
  </mat-tab>
  <mat-tab label="ITEMS">
    <app-items></app-items>
  </mat-tab>
  <mat-tab label="STOCK">
    <ng-template matTabContent>
      <app-godown></app-godown>
    </ng-template>
  </mat-tab>
  <mat-tab label="DEBTS">
    <ng-template matTabContent>
      <app-debts></app-debts>
    </ng-template>
  </mat-tab>
</mat-tab-group>
